<div class = 'user--details'>
<div class = 'user'>
<img src= '<%= @user.photo %>' alt= 'user--photo'>
<h1><%= @user.name %></h1>
<p>Number of posts: <%= @user.postscounter %></p>
</div>
<div class= 'user--bio'>
<p>Bio</p>
<p><%= @user.bio %></p>
</div>
</div>
<div class= 'user--posts'>
<h3 id='recent--posts'>Most recent posts</h3>
<div class= 'posts'>
<% @user.most_recent_posts.each do |post| %>
    <div class='post'>
    <h4><%= link_to post.title, controller: "posts", action: "show", author_id: @user.id, post_id: post.id %></h4>
    <div class='post--utility'>
    <p>Comments: <%= post.comments_counter %></p>
    <p>Likes: <%= post.likes_counter %></p>
    </div>
    </div>
<% end %>
</div>
<%= button_to("See all Post", posts_path(@user), method: :get, class: 'more-posts-btn') %>
<%= button_to("Create new post", new_post_path(@user), method: :get, class: 'more-posts-btn mt-3') %>
</div>


