<h2><%= @user.name %></h2>
<ul class= 'posts'>
    <% @user.posts.each do |post| %>
    <li class='post'><%= link_to post.title, controller: "posts", action: "show", author_id: @user.id, post_id: post.id %>
    <div class= 'post--utility'
    <p>Comments(<%= post.comments_counter %>)</p>
    <p>Likes(<%= post.likes_counter %>)</p>
    </div>
    </li> 
    <% end %>
</ul>
<%= button_to("Create new post", new_post_path(@user), method: :get, class: 'btn btn-secondary') %>
