<p style="color: green"><%= notice %></p>
<h2 class= 'post--title'><%= @post.title %></h2>
<p class= 'post--text'><%= @post.text %></p>
<div class= 'post--utility'>
<p>Comments(<%= @post.comments_counter %>)</p>
<p>Likes(<%= @post.likes_counter %>)</p>
</div>
<h3 id= 'comments--section'>Comments</h3>
<ul class= 'comments'>
    <% @post.recent_comments.each do |comment| %>
    <li class= 'comment'> <strong><%= comment.user.name %></strong>:<%= comment.text %></li> 
    <% end %>
</ul>
<div class= 'post--utility'>
<%= button_to("Create new comment", new_comment_path(@user, @post), method: :get, class: 'btn btn-secondary') %>
<%= button_to("Add Like", create_like_path(@user, @post), method: :post, class: 'btn btn-secondary') %>
<%= button_to("Back", create_post_path(@user), method: :get, class: 'btn btn-secondary') %>
</div>
